# Предобработка датасета car-evaluation

Загрузка библиотек

In [11]:
import pandas as pd

Загрузка датасета

In [12]:
data = pd.read_csv(r'../data/car-evaluation.csv', sep = ',')
data

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [13]:
data.info()
cols = data.columns
for col in cols:
    print(f"Признак: {col}, значения: {set(data[col].tolist())}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB
Признак: buying, значения: {'vhigh', 'low', 'med', 'high'}
Признак: maint, значения: {'vhigh', 'low', 'med', 'high'}
Признак: doors, значения: {'3', '4', '2', '5more'}
Признак: persons, значения: {'4', '2', 'more'}
Признак: lug_boot, значения: {'small', 'big', 'med'}
Признак: safety, значения: {'low', 'med', 'high'}
Признак: class, значения: {'unacc', 'vgood', 'acc', 'good'}

##### Перекодирование

In [43]:
data.at[data['buying'] == 'low','buying'] = 1
data.at[data['buying'] == 'med','buying'] = 2
data.at[data['buying'] == 'high','buying'] = 3
data.at[data['buying'] == 'vhigh','buying'] = 4

data.at[data['maint'] == 'low','maint'] = 1
data.at[data['maint'] == 'med','maint'] = 2
data.at[data['maint'] == 'high','maint'] = 3
data.at[data['maint'] == 'vhigh','maint'] = 4

data.at[data['doors'] == '5more','doors'] = 5

data.at[data['persons'] == 'more','persons'] = 5

data.at[data['lug_boot'] == 'small','lug_boot'] = 1
data.at[data['lug_boot'] == 'med','lug_boot'] = 2
data.at[data['lug_boot'] == 'big','lug_boot'] = 3

data.at[data['safety'] == 'low','safety'] = 1
data.at[data['safety'] == 'med','safety'] = 2
data.at[data['safety'] == 'high','safety'] = 3

data.at[data['class'] == 'unacc','class'] = 1
data.at[data['class'] == 'acc','class'] = 2
data.at[data['class'] == 'good','class'] = 3
data.at[data['class'] == 'vgood','class'] = 4

In [44]:
data

     buying maint doors persons lug_boot safety class
0         4     4     2       2        1      1     1
1         4     4     2       2        1      2     1
2         4     4     2       2        1      3     1
3         4     4     2       2        2      1     1
4         4     4     2       2        2      2     1
...     ...   ...   ...     ...      ...    ...   ...
1723      1     1     5       5        2      2     3
1724      1     1     5       5        2      3     4
1725      1     1     5       5        3      1     1
1726      1     1     5       5        3      2     3
1727      1     1     5       5        3      3     4

[1728 rows x 7 columns]

In [45]:
data.info()
cols = data.columns
for col in cols:
    print(f"Признак: {col}, значения: {set(data[col].tolist())}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB
Признак: buying, значения: {1, 2, 3, 4}
Признак: maint, значения: {1, 2, 3, 4}
Признак: doors, значения: {'3', '4', '2', 5}
Признак: persons, значения: {'4', '2', 5}
Признак: lug_boot, значения: {1, 2, 3}
Признак: safety, значения: {1, 2, 3}
Признак: class, значения: {1, 2, 3, 4}

##### Сохранение изменённого датасета

In [46]:
data.to_csv(r'../data/car-evaluation_preprocessed.csv', index_label=False, index=False)