# Предобработка датасета automobile

Загрузка библиотек

In [22]:
import pandas as pd

Загрузка датасета

In [23]:
data = pd.read_csv(r'../data/automobile.csv', sep = ',')

In [24]:
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   vendor             205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

,symboling,normalized-losses,vendor,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

##### Перекодирование

In [25]:
data = data.replace('?', 'NaN')
data = data.replace('two', 2)
data = data.replace('three', 3)
data = data.replace('four', 4)
data = data.replace('five', 5)
data = data.replace('six', 6)
data = data.replace('eight', 8)
data = data.replace('twelve', 12)

In [26]:
data['normalized-losses'] = data['normalized-losses'].astype('float64')
data['num-of-doors'] = data['num-of-doors'].astype('float64')
data['bore'] = data['bore'].astype('float64')
data['stroke'] = data['stroke'].astype('float64')
data['horsepower'] = data['horsepower'].astype('float64')
data['peak-rpm'] = data['peak-rpm'].astype('float64')
data['price'] = data['price'].astype('float64')

In [27]:
data = pd.get_dummies(data)

In [28]:
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1   normalized-losses       164 non-null    float64
 2   num-of-doors            203 non-null    float64
 3   wheel-base              205 non-null    float64
 4   length                  205 non-null    float64
 5   width                   205 non-null    float64
 6   height                  205 non-null    float64
 7   curb-weight             205 non-null    int64
 8   num-of-cylinders        205 non-null    int64
 9   engine-size             205 non-null    int64
 10  bore                    201 non-null    float64
 11  stroke                  201 non-null    float64
 12  compression-ratio       205 non-null    float64
 13  horsepower              203 non-null    float64
 14  peak-rpm                203 non-null    float64
 15  city-mpg                205 non-null    int64
 16  highway-mpg             205 non-null    int64
 17  price                   201 non-null    float64
 18  vendor_alfa-romero      205 non-null    uint8
 19  vendor_audi             205 non-null    uint8
 20  vendor_bmw              205 non-null    uint8
 21  vendor_chevrolet        205 non-null    uint8
 22  vendor_dodge            205 non-null    uint8
 23  vendor_honda            205 non-null    uint8
 24  vendor_isuzu            205 non-null    uint8
 25  vendor_jaguar           205 non-null    uint8
 26  vendor_mazda            205 non-null    uint8
 27  vendor_mercedes-benz    205 non-null    uint8
 28  vendor_mercury          205 non-null    uint8
 29  vendor_mitsubishi       205 non-null    uint8
 30  vendor_nissan           205 non-null    uint8
 31  vendor_peugot           205 non-null    uint8
 32  vendor_plymouth         205 non-null    uint8
 33  vendor_porsche          205 non-null    uint8
 34  vendor_renault          205 non-null    uint8
 35  vendor_saab             205 non-null    uint8
 36  vendor_subaru           205 non-null    uint8
 37  vendor_toyota           205 non-null    uint8
 38  vendor_volkswagen       205 non-null    uint8
 39  vendor_volvo            205 non-null    uint8
 40  fuel-type_diesel        205 non-null    uint8
 41  fuel-type_gas           205 non-null    uint8
 42  aspiration_std          205 non-null    uint8
 43  aspiration_turbo        205 non-null    uint8
 44  body-style_convertible  205 non-null    uint8
 45  body-style_hardtop      205 non-null    uint8
 46  body-style_hatchback    205 non-null    uint8
 47  body-style_sedan        205 non-null    uint8
 48  body-style_wagon        205 non-null    uint8
 49  drive-wheels_4wd        205 non-null    uint8
 50  drive-wheels_fwd        205 non-null    uint8
 51  drive-wheels_rwd        205 non-null    uint8
 52  engine-location_front   205 non-null    uint8
 53  engine-location_rear    205 non-null    uint8
 54  engine-type_dohc        205 non-null    uint8
 55  engine-type_dohcv       205 non-null    uint8
 56  engine-type_l           205 non-null    uint8
 57  engine-type_ohc         205 non-null    uint8
 58  engine-type_ohcf        205 non-null    uint8
 59  engine-type_ohcv        205 non-null    uint8
 60  engine-type_rotor       205 non-null    uint8
 61  fuel-system_1bbl        205 non-null    uint8
 62  fuel-system_2bbl        205 non-null    uint8
 63  fuel-system_4bbl        205 non-null    uint8
 64  fuel-system_idi         205 non-null    uint8
 65  fuel-system_mfi         205 non-null    uint8
 66  fuel-system_mpfi        205 non-null    uint8
 67  fuel-system_spdi        205 non-null    uint8
 68  fuel-system_spfi        205 non-null    uint8
dtypes: float64(12), int64(6), uint8(51)
memory usage: 39.2 KB

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,3,NaN,2.0,88.6,168.8,64.1,48.8,2548,4,130,...,0,0,0,0,0,0,0,1,0,0
1,3,NaN,2.0,88.6,168.8,64.1,48.8,2548,4,130,...,0,0,0,0,0,0,0,1,0,0
2,1,NaN,2.0,94.5,171.2,65.5,52.4,2823,6,152,...,1,0,0,0,0,0,0,1,0,0
3,2,164.0,4.0,99.8,176.6,66.2,54.3,2337,4,109,...,0,0,0,0,0,0,0,1,0,0
4,2,164.0,4.0,99.4,176.6,66.4,54.3,2824,5,136,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,4.0,109.1,188.8,68.9,55.5,2952,4,141,...,0,0,0,0,0,0,0,1,0,0
201,-1,95.0,4.0,109.1,188.8,68.8,55.5,3049,4,141,...,0,0,0,0,0,0,0,1,0,0
202,-1,95.0,4.0,109.1,188.8,68.9,55.5,3012,6,173,...,1,0,0,0,0,0,0,1,0,0
203,-1,95.0,4.0,109.1,188.8,68.9,55.5,3217,6,145,...,0,0,0,0,0,1,0,0,0,0
204,-1,95.0,4.0,109.1,188.8,68.9,55.5,3062,4,141,...,0,0,0,0,0,0,0,1,0,0

##### Сохранение изменённого датасета

In [29]:
data.to_csv(r'../data/automobile_preprocessed.csv', index_label=False, index=False)